<section class="presentation">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="presentation-title">Bienvenue sur notre site de comptage et classification des oiseaux</h2>
          <p class="presentation-description">Découvrez le monde fascinant des oiseaux et participez à leur observation. Notre site vous permet de compter et de classifier différentes espèces d'oiseaux, tout en contribuant à la recherche scientifique et à la préservation de la nature.</p>
        </div>
        <div class="col-md-6">
          <div class="bird-images">
            <div class="bird-image" style="background-image: url('ban1.jpg');"></div>
            <div class="bird-image" style="background-image: url('ban1.jpg');"></div>
            <div class="bird-image" style="background-image: url('ban1.jpg');"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  